html, body {
    padding: 0;
    margin: 0;
    width: 100%;
    height: 100%;

}

.wrapper {
    display: flex;
    position:absolute;
    justify-content: center;
    background-color: rgb(202, 200, 200);
    width: 100%;
    height: 100%;
}

.header {
    display: flex;
    position:fixed;
    top: 0px;
    width: 100%;
    justify-content: center;
    color: black;
    text-align: center;
    font-size: 22px;
}

.canvasContainer {
    display: grid;
    position: fixed;
    margin-top: 10%;
    margin-left: 250px;
    height: 350px;
    width: 350px;    
    background-color: rgb(184, 243, 243);
}

.controlPannel {
    display: grid;
    position:fixed;
    margin-top: 10%;
    margin-left: 80px;
    margin-right: 7%;
    margin-bottom: 10%;
    margin-right: 65%;
    height: 350px;
    width: 130px;  
    background-color: rgb(228, 189, 130);
}

.pannelButton {
    background-color: chocolate;
    margin: .3em;
    height: 85%;
    width: 90%;
    border-style: solid;
    border-radius: 2px;
    border-color: rgb(102, 63, 35);
    cursor: pointer;
}

.pannelButtonPressed {
    background-color: rgb(151, 75, 20);
    margin: .3em;
    height: 85%;
    width: 90%;
    border-style: solid;
    border-color: rgb(102, 63, 35);
    cursor: pointer;
}

.inputColor {
    position:absolute;
    top: 116px;
    left: 0;
    height: 59px;
    width: 100%;
    opacity: 0;
    cursor: pointer;
  }

.footer {
    background-color: rgb(238, 238, 238);
    padding-top: 3px;
    padding-bottom: 3px;
    color:#6f6b67;
    display: flex;
    position:fixed;
    font-size: 14px;
    justify-content: center;
    bottom: 0px;
    width: 100%;
}